
.image{
    width: 100%;
    max-height: 500px;
  }
  .credit-card-form form {
    /* display: block;
    width: 400px; */
    /* padding: 20px; */
    margin: auto;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    direction: rtl;
    text-align: center;


  }
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .credit-card-form label {
    font-size: 20px;
    font-weight: 500;
    color: #4f89b0;
    margin-bottom: 5px;
  }
  
  .verification-code-inputs input {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 40px;
    font-size: 16px;
    background-color: #fff;
  }
  
  .verification-code-inputs input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(48, 33, 211, 0.5);
  }

  .button{
    color: #4f89b0 !important;
    border: 1px solid #4f89b0;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 40%;
    transition: all 0.3s ease-in-out;
  }

  .button:hover{
    background-color: #4f89b0;
    color: #fff !important;
  }