.formcontrol {
    width: 100%;
    height: 50px;
    /* border-radius: 10px !important; */
    border-bottom: 2px solid #c5cbce !important;
    margin-bottom: 20px;
    
  }
  .formcontrol:focus {
    border-color: #4f89b0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
    outline: none;
  }
  
  .form-control-text-area {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .btn-custom {
    width: 50%;
    height: 50px;
    border-radius: 10px !important;
    background-color: #4f89b0;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: rgb(0, 6, 6);
    color: #fff !important;
  }
  
  .form-shadow {
    /* shdow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    /* rounded */
    border-radius: 10px;
  }

.bg-image{
    background-image: url("../../../assets/images/wooden-gavel3.jpg");    
    /* size fit */
    background-size: cover;
    height: 50vh;
    width: 100%;
}


.lg-hr{
    width: 500px;
    height: 2px;
    background-color: #4f89b0;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sm-hr{
    width: 100px;
    height: 2px;
    background-color: #4f89b0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    /* rounded */
    border-radius: 10px;
    /* shdow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.btn-custom{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: #4f89b0;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: none;
}

.btn-custom:hover{
    background-color: rgb(0, 6, 6);
    color: #4f89b0;
    border: 1px solid #4f89b0;
}