body{
  margin: 0px;
  padding: 0px;
}
.header{
  width: 100%;
  background-image:linear-gradient(to bottom, #4f89b0 0%, #98b5c8 100%);
  height: 80vh
}
.header img{
  height: 71vh;
  width: 95%;
}
.headerText{
  margin-top: 25%;
}
.section-bg-grey {
  background-color: rgb(212, 218, 255, 0.25);
  width: 100%;
  height: auto;
 
}

.section-bg-white {
  background-color: rgb(255, 255, 255, 0.25);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* .home-bg {
  transition: 2s;
  transform: scale(0.8);
} */

.fixed-bg {
  background-image: url("./../../../../public/world.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* fixed */
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

/* .home-bg:hover {
  
  transform: scale(1.1);
} */

.service-img {
  width: 60%;
  border-radius: 50%;
  transition: 0.5s;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-right: 80px;
}

.formcontrol {
  width: 100%;
  height: 50px;
  /* border-radius: 10px !important; */
  border-bottom: 2px solid #c5cbce !important;
  margin-bottom: 20px;
  
}
.formcontrol:focus {
  border-color: #4f89b0 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  outline: none;
}

.form-control-text-area {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
}

.btn-custom {
  width: 50%;
  height: 50px;
  border-radius: 10px !important;
  background-color: #4f89b0;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: none;
}

.btn-custom:hover {
  background-color: rgb(0, 6, 6);
  color: #fff;
}

.form-shadow {
  /* shdow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  /* rounded */
  border-radius: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.circle:hover {
  /* change background color and color white */
  color: rgb(255, 255, 255);
  /* change border color */
  border: 2px solid #d8ddf1;
  /* shadow */
  box-shadow: 1 2 10px rgba(156, 151, 231, 0.5);
  /* scale */
  transform: scale(1.1);
}

.lg-hr {
  width: 500px;
  height: 2px;
  background-color: #4f89b0;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sm-hr {
  width: 100px;
  height: 2px;
  background-color: #4f89b0;
  margin: 0 auto;
  margin-bottom: 20px;
}


