*{
    padding: 0;
    margin: 0;
}
.payment-card {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: 2px solid #4f89b0;
  border-radius: 10px;
  padding: 0 !important;
}
.payment-card h1 {
  color: #4f89b0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.payment-left {
  margin: 0;
  padding: 0 !important;
}
.payment-right {
  padding-right: 3rem;
  align-items: center;
}
.payment-price div {
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid #4f89b0;
  border-radius: 5px;
}

.payment-image {
  width: 100%;
  border-radius: 10px 0 0 10px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form button {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: white !important;
  font-weight: bold !important;
}
