body{
  background-color:rgb(231, 231, 252);
  
}



.container{
  background-color: white;
}
.table tbody tr {
  
  border-bottom: 1px solid #dee2e6;
}

.table tbody tr:last-child {
  border-bottom: none;
}
.table td{
  width: 25%;
}
.table td,
.table th {
  vertical-align: middle;
}

.table td img {
  max-width: 100px;
  height: auto;
}