.nav {
  background-color: #4f89b0;
  direction: rtl;
}
.btn-text,
.nav-item a {
  color: white;
  font-size: 18px;
}
.drop-item{
  color: #484848 !important;
  font-size: 15px !important;
}
.search-submit{
  background-color: #95c2f4;
  color: #fff !important;
  border: none;
  border-radius: 0;
  margin: 0;
}
.search-input{
  width: 100%;
  border-radius: 0 ;
  border: none;
  margin: 0 !important;
}
.nav-item {
  padding: 2px;
  border-radius: 10px;
  color: white;
  width: fit-content;
}
.nav-item:hover {
  background-color: white;
  border-radius: 10px;
}
.nav-item:hover .nav-link {
  color: #4f89b0;
}
.logo-img {
  width: 50px;
  height: 50px;
}
.navbar-brand {
  font-size: 30px !important;
  font-weight: bold;
}
.btn:hover {
  background-color: transparent;
}
.dropdown-menu{
  width: fit-content;
  margin-left: 50px;
  position: relative;
  left: -66%;
}
